.Task {
    background-color: #414141;
    margin: .75% 1.5%;
    width: 97%;
    display: grid;
    grid-template-columns: 5% auto 5% 5%;    
    height: 6vh;
    min-height: 6vh;
    max-height: 6vh;
    border-radius: .5em;
    position: relative;

}

.TaskCompletedCB {
    grid-column: 1;
    grid-row: 1;
    position: relative;

}

.cbx {
    position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.TaskWrapper {
    grid-column: 2;
    grid-row: 1;
    background-color: inherit;
    height: 6vh;
    color: white;
    display: inline;
    line-height: 6vh;
    text-align: center;
    
}


.TaskText {
    float: left;
    text-align: center;

}

.TaskText > span {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

}


.TaskImportantCB {
    grid-column: 3;
    grid-row: 1;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    padding-right: 25%;
}



.TaskDate {
    float: right;
    text-align: center;

}

.TaskDate > span {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}





/* Delete Button */

.TaskDelete {
    grid-column: 4;
    align-self: center;
    grid-row: 1;
    position: relative;
    position: absolute;
    top: 54%; left: 50%;
    transform: translate(-50%,-50%);

}


.TaskDelete > button {
    border: none !important;
    background-color: transparent;
    cursor: pointer;

}

.TaskDelete > button:hover {
	background-color: transparent;
	border: none !important;
}

.TaskDelete > button > i:hover {
	color: #ee4540;
    font-size: 160%;
    outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

.TaskDelete > button:active {
    outline: none !important;
	border: 0px solid rgb(196, 196, 196);
}

.TaskDelete > button > i {
    font-size: 140%;
    color: #ec625f;
}
