.ToDoList {
    background-color: #313131;
    display: grid;
    grid-template-columns: minmax(100%, 100%);
}

.ToDoForm {
    position: absolute;
    bottom: 0;
    width:80%;
    background-color: #313131;
    padding: 1%;
    padding-top: 2vh;
    grid-row: 3;
    
    
}

.ToDoForm > form {
    display: grid;
    grid-template-columns: minmax(4%, 4%);
    background-color: #414141;
    
}

.TDFicon {
    grid-column: 1;
    text-align: center;
    align-items: center;
    border: 0px;
    background-color: inherit;
    color: #00818a;

}



.TDFicon > i {
    font-size: 1.25em;
    padding-top: 34%;
    background-color: inherit;

}

.TDFinput {
    grid-column: 2;
    border: 0px;
    background-color: inherit;


}

.TDFinput > input {
    width: 100%;
    height: 6vh;
    padding-left: 1%;
    border: 0px;
    background-color: inherit;
    outline: none;
    color: white;

}

.TDFinput > input::placeholder {
    color: #00818a;
}

/* .TDFinput > input:hover, .TDFinput >input:focus, .TDFinput >input:not(:placeholder-shown) {
    background-color: rgba(255, 255, 255, 0.24);
} */


.toDoListHeader {
    grid-row: 1;
    background-color: inherit;
    height: 15vh;
}

.tasks-wrapper {
    grid-row: 2;
    background-color: inherit;
    overflow: auto ;
    height: 75.5vh;
    max-height: 75.5vh;
    padding-bottom: 3vh;
}

.spanRemaining {
    color: white;
    float: left;
    padding: 2%;
    font-weight: bold;
}